body{
    background-color:gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../images/image16.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: black;
}
h1{
    color:red;
}
h2{
    color:orange;
}
p{
    color:orange;
}
.color-change{
    color:red;
}