body{
    background-color:gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:orange;
}
h2{
    color:orange;
}
p{
    color:orange;
}
.grid-unit{
    vertical-align:top;
    width:calc(25% - 10px);
    background-color:whitesmoke;
    display:inline-block;
    margin-right:10px;
    margin-bottom:10px;
    font-size:18px;
    line-height:40px;
}
#second-box{
    background-image: url(../images/image15.jpg);
    height:600px;
    width:900px;
}
