body{
    background-color:gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:blueviolet;
}
h2{
    color:blueviolet;
}
.grid-unit{
    vertical-align:top;
    width:calc(25% - 10px);
    background-color:lightblue;
    height: 300px;
    display:inline-block;
    margin-right:10px;
    margin-bottom:10px;
    font-size:18px;
    line-height:40px;
}
#second-box{
    background-image: url(../images/image1.jpg);
    height:300px;
    width:250px;
    border:brown 10px inset;
    box-sizing: border-box;
    padding:10px;
}
#third-box{
    background-image: url(../images/image3.jpg);
    height:300px;
    width:250px;
    border:brown 10px inset;
    box-sizing: border-box;
    padding:10px;
}
#fourth-box{
    background-image: url(../images/image4.jpg);
    height:300px;
    width:250px;
    border:brown 10px inset;
    box-sizing: border-box;
    padding:10px;
}

