@charset "utf-8";

@font-face{
    font-family: "silkscreen";
    src: url(../lobby-fonts/Silkscreen-Regular.ttf);
}
html{
    font-size:7px;
    line-height: 1.3;
}

body{
  background-color:rgb(79, 81, 82);
  justify-content: center;
  align-items: center;

}

.container{
  width: 100%;
  height:100%;

  
}

a{
    color:rgb(255, 255, 255);
}
a:hover{
    color:rgb(224, 201, 244);
}
a:active{
    color:rgb(151, 85, 172);
}


#lobbytitle{
font-family:Impact, 'Arial Narrow Bold', sans-serif;
color: rgb(204, 204, 204);
justify-content: center;
position:absolute;
top: 40%;
left: 15%;
font-size: 10rem;

}

.song1{
    font-family:"silkscreen";
    color: white;
    font-size: 5rem;
    position: absolute;
    z-index:2;
    margin-top: 15rem;
}

.songnumber-1{
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb(186, 138, 189);
    font-size: 25rem;
    position: relative;
    z-index: 1;
    margin-left: 25rem;

}

.song2{
    font-family:"silkscreen";
    color: white;
    font-size: 5rem;
    position: absolute;
    z-index:2;
    margin-top:-25rem;
    text-align: center;
    margin-left: 65%;

}

.songnumber-2{
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb(186, 138, 189);
    font-size: 25rem;
    
    z-index: 1;
    margin-top:-40rem;
    text-align: center ;
    margin-left:60%;


}

.song3{
    font-family:"silkscreen";
    color: white;
    font-size: 5rem;
    position: absolute;
    z-index:2;
    margin-top: 40rem;
}


.songnumber-3{
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb(186, 138, 189);
    font-size: 29rem;
    position: relative;
    z-index: 1;
    margin-left: 50rem;
    margin-top:50rem;

} 
.song4{
    font-family:"silkscreen";
    color: white;
    font-size: 5rem;
    position: absolute;
    z-index:2;
    margin-top:10rem;
    margin-left: 70%;

}


.songnumber-4{
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb(186, 138, 189);
   font-size: 25rem;
    position: relative;
    z-index: 1;
    margin-bottom:20rem;
    margin-left:80%;

}
    
@media screen and (max-width:1080px) and (min-width:960px){
  .container{
    width:calc(50% - 2.6rem);
    height: 26rem;
  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .container{
    width:calc(50% - 2.6rem);
    height:26rem;
  }
} 

@media screen and (max-width:720px) and (min-width:480px){
  .container{
    width:calc(100% - 2.6rem);
    height:26rem;
  }
}



