@charset "utf-8";

@font-face{
    font-family: "silkscreen";
    src: url(../lobby-fonts/Silkscreen-Regular.ttf);
}
html{
    font-size:7px;
    line-height: 1.3;
}
body{
    background-color:rgb(73, 73, 73);
    font-size: 0;
}
.container{
    background-color:rgb(73, 73, 73);
}

a{
    color:rgb(255, 255, 255);
}
a:hover{
    color:rgb(224, 201, 244);
}
a:active{
    color:rgb(151, 85, 172);
}


#lobbytitle{
font-family:Impact, 'Arial Narrow Bold', sans-serif;
color: rgb(204, 204, 204);
height: 6rem;
width: 200rem; 
text-align: center;
font-size: medium;
position:absolute;
top: 55rem;
left: 80rem;
font-size: 17rem;
}
.song-block1{
    height: 20rem;
    width: 93rem;
    text-align: center;
    font-size: x-large;
    left:6rem;
    top:16rem;
    position: absolute;
}
.song1{
    font-family:"silkscreen";
    color: white;
    font-size: 5rem;
    position: absolute;
    z-index:2;
    font-family: "silkscreen";
}
.number1{
    height: 21rem;
    width: 93rem;
    text-align: center;
    font-size: x-large;
    left: 1rem;
    top:58rem;
}
.songnumber-1{
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb(186, 138, 189);
    font-size: 29rem;
    position: relative;
    z-index: 1;

}

.song-block2{
    height: 22rem;
    width: 14rem;
    text-align: center;
    font-size: x-large;
    left:310rem;
    top:6rem;
    position:absolute;
}
.song2{
    font-family:"silkscreen";
    color: white;
    font-size: 5rem;
    position: absolute;
    z-index:2;
}
.number2{
    height: 21rem;
    width: 86rem;
    text-align: center;
    font-size: x-large;
    left:280rem;
    top:-50rem;
    position:relative;
}
.songnumber-2{
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb(186, 138, 189);
    font-size: 29rem;
    position: relative;
    z-index: 1;

}
.song-block3{
    height: 21rem;
    width: 57rem;
    text-align: center;
    font-size: x-large;
    margin-left:72rem;
    margin-top:70rem;
    position: absolute;
}
.song3{
    font-family:"silkscreen";
    color: white;
    font-size: 5rem;
    position: absolute;
    z-index:2;
}
.number3{
    height: 21rem;
    width: 93rem;
    text-align: center;
    font-size: x-large;
    margin-left:57rem;
    margin-top:65rem;
     position: relative;
}

.songnumber-3{
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb(186, 138, 189);
    font-size: 29rem;
    position: relative;
    z-index: 1;

}
.song-block4{
    height: 21rem;
    width: 93rem;
    text-align: center;
    font-size: x-large;
    margin-left:210rem;
    margin-top:5rem;
    position: absolute;
}
.song4{
    font-family:"silkscreen";
    color: white;
    font-size: 5rem;
    position: absolute;
    z-index:2;
}

.number4{
    height: 21rem;
    width: 93rem;
    text-align: center;
    font-size: x-large;
    margin-left:213rem;
    margin-top:-34rem;
    position: relative;
}
.songnumber-4{
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb(186, 138, 189);
    font-size: 29rem;
    position: relative;
    z-index: 1;

}

