body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    background-color: aliceblue;
}
.grid{
    vertical-align:top;
    display:inline-block;
    margin-right:45px;
    margin-left: 35px;
    margin-bottom:30px;
    margin-top: 30px;
}
.logo{
    height:100px;
    width: 250px;
    position: absolute;

}
.brunch-grid{
   text-align: center;
    vertical-align:top;
    margin-right:30px;
    margin-left: 30px;
    margin-bottom:-5px;
    margin-top: -25px;
    font-size: 15px;
}
.menu{
    width: calc(1796px / 2);
    height: calc(2338px / 2);
    position: relative;
    margin:auto;
    background-color: white;
}
#loc{
    text-align: left;
    right:5px;
    position: absolute;
}
.bar{
    width: 700px;
    height: auto;
    margin-right:85px;
    margin-left: 85px;
    margin-bottom: 30px;
    background-color: black;
    display: inline-block;
    position: relative;
    line-height: 75%;
    font-size: 8px;
}
.food-grid{
    text-align: left;
    vertical-align:top;
    display:inline-block;
    color: darkred;
    font-size: 15px;
    margin-left: 85px;
    margin-top: -20px;
}
.food-grid2{
    text-align: left;
    vertical-align:top;
    display:inline-block;
    color: darkred;
    font-size: 15px;
    margin-left: 0px;
    margin-top: -8px;
}
.mains{
    margin-bottom:-5px;
}
.food-grid3{
    text-align: right;
    vertical-align:top;
    display:inline-block;
    color: darkred;
    font-size: 15px;
    margin-left: 160px;
    margin-right: 80px;
    margin-top:-630px;
}
.food-grid4{
    text-align: right;
    vertical-align:top;
    display:inline-block;
    color: darkred;
    font-size: 15px;
    margin-left: 201px;
    margin-right: 80px;
    margin-top:-435px;
}

.food-items{
    font-size:12px;
    color: black;
    margin-top: -25px;
    width: 370px;
}
.food-items2{
    font-size:12px;
    color: black;
    margin-top: -8px;
    width: 370px;
}
.food-items3{
    font-size:12px;
    color: black;
    margin-top: -35px;
    width: 370px;
    margin-left: 2px;
}
.food-items4{
    font-size:12px;
    color: black;
    margin-top: -35px;
    width: 370px;
    margin-left: 2px;
}

.prices{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 210px;
}
.food-name{
     align: left;
    display:inline-block;
    text-align: right;
}
.food-name2{
     align: left;
    display:inline-block;
    text-align: right;
}

.prices2{
     align: right;
    display:inline-block;
    text-align: right;
    margin-left: 183px;
}
.food-name3{
     align: left;
    display:inline-block;
    text-align: right;
}
.prices3{
     align: right;
    display:inline-block;
    text-align: right;
    margin-left: 178px;
}
.food-name4{
     align: left;
    display:inline-block;
    text-align: right;
}
.prices4{
     align: right;
    display:inline-block;
    text-align: right;
    margin-left: 255px;
}
.food-name5{
    align: left;
    display:inline-block;
    text-align: right;
    margin-top: 2px;
}
.prices5{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 270px;
    margin-top: 2px;
}
.food-name6{
    align: left;
    display:inline-block;
    text-align: right;
}
.prices6{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 215px;
}

.food-name7{
    align: left;
    display:inline-block;
    text-align: right;
}
.prices7{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 260px;
}
p{
    margin-top: -9px;
    margin-bottom: -6px;
}
.food-name8{
    align: left;
    display:inline-block;
    text-align: right;
}
.prices8{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 228px;
}
.food-name9{
    align: left;
    display:inline-block;
    text-align: right;
}
.prices9{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 233px;
}
.food-name10{
    align: left;
    display:inline-block;
    text-align: right;
}
.prices10{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 208px;
}
.food-name11{
    align: left;
    display:inline-block;
    text-align: right;
}
.prices11{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 205px;
}
.food-name12{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 80px;
    margin-right: 137px;
    margin-top: 5px;
}
.prices12{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -160px;
    margin-bottom: -20px;
}
.food12{
    margin-left: 272px;
    margin-right:-180px;
    text-align: left;
}
.food-name13{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 80px;
    margin-right: 143px;
    margin-top: 5px;
}
.prices13{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -160px;
    margin-bottom: -20px;
}
.food13{
    margin-left: 272px;
    margin-right:-180px;
    text-align: left;
}
.food-name14{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 80px;
    margin-right: 210px;
    margin-top: 5px;
}
.prices14{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -160px;
    margin-bottom: -20px;
}
.food14{
    margin-left: 272px;
    margin-right:-180px;
    text-align: left;
}
.food-name15{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 0px;
    margin-right: 129px;
    margin-top: 7px;
}
.prices15{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -120px;
    margin-bottom: -20px;
}
.food15{
    margin-left: 230px;
    margin-right:-175px;
    text-align: left;
}
.food-name16{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 0px;
    margin-right: 88px;
    margin-top: 7px;
}
.prices16{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -120px;
    margin-bottom: -20px;
}
.food16{
    margin-left: 230px;
    margin-right:-130px;
    text-align: left;
}
.food-name17{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 0px;
    margin-right: 115px;
    margin-top: 7px;
}
.prices17{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -120px;
    margin-bottom: -20px;
}
.food17{
    margin-left: 230px;
    margin-right:-130px;
    text-align: left;
}
.food-name18{
    align: right;
    display:inline-block;
    text-align: right;
    margin-left: 0px;
    margin-right: 145px;
    margin-top: 7px;
}
.prices18{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -120px;
    margin-bottom: -20px;
}
.food18{
    margin-left: 230px;
    margin-right:-130px;
    text-align: left;
}
.sides{
    text-align: right;
    vertical-align:top;
    display:inline-block;
    color: darkred;
    font-size: 15px;
    margin-left: 201px;
    margin-right: 80px;
    margin-top:-105px;
}
.side1{
    font-size:12px;
    color: black;
    margin-top: -15px;
    width: 390px;
    margin-left: 14px;
    margin-bottom: -29px;
}
.side-prices{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -60px;
    margin-bottom: -20px;
    margin-top: -20px;
    font-size:12px;
    color: black;
}
.side2{
    font-size:12px;
    color: black;
    margin-top: -15px;
    width: 390px;
    margin-left: -48px;
    margin-bottom: -29px;
}
.side-prices2{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -60px;
    margin-bottom: -20px;
    margin-top: -20px;
    font-size:12px;
    color: black;
}
.side3{
    font-size:12px;
    color: black;
    margin-top: -15px;
    width: 390px;
    margin-left: -92px;
    margin-bottom: -29px;
}
.side-prices3{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -60px;
    margin-bottom: -20px;
    margin-top: -20px;
    font-size:12px;
    color: black;
}
.side4{
    font-size:12px;
    color: black;
    margin-top: -15px;
    width: 390px;
    margin-left: -47px;
    margin-bottom: -29px;
}
.side-prices4{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -60px;
    margin-bottom: -20px;
    margin-top: -20px;
    font-size:12px;
    color: black;
}
.side5{
    font-size:12px;
    color: black;
    margin-top: -15px;
    width: 390px;
    margin-left: 4px;
    margin-bottom: -29px;
}
.side-prices5{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -60px;
    margin-bottom: -20px;
    margin-top: -20px;
    font-size:12px;
    color: black;
}
.side6{
    font-size:12px;
    color: black;
    margin-top: -15px;
    width: 390px;
    margin-left: -81px;
    margin-bottom: -29px;
}
.side-prices6{
    align: right;
    display:inline-block;
    text-align: right;
    margin-right: -60px;
    margin-bottom: -20px;
    margin-top: -20px;
    font-size:12px;
    color: black;
}
