@charset "utf-8";

@font-face{
    font-family: "silkscreen";
    src: url(../fonts/Silkscreen-Regular.ttf);
}
html{
    font-size:7px;
    line-height: 1.3;
}

body{
  background-color:rgb(0, 0, 0);

}

.container{
  width: 100%;
  height:100%;
  
}
.song-title{
text-align: center;
font-family:Impact, 'Arial Narrow Bold', sans-serif;
color: rgb(178, 178, 178);
font-size: 15rem;
margin-top: 15%;
}

.typewriting-lyric{
    color:rgb(178, 178, 178);
    font-family: "silkscreen";
    font-size:4rem;
}
.typewriting-lyric2{
    color:rgb(178, 178, 178);
    font-family: "silkscreen";
    font-size:6rem;
    margin-right: 60%;
    margin-top: 1%;
}

#typewriting-lyric{
    color:rgb(178, 178, 178);
    font-family: "silkscreen";
    font-size:4rem;
    margin-left: 3%;
    margin-top: 2%;
}

#typewriting-lyric2{
    color:rgb(178, 178, 178);
    font-family: "silkscreen";
    height: 1rem;
    width: 3rem;
    font-size:3rem;
    margin-right: 60%;
    margin-top: 1%;
   
}
#typewriting-lyric3{
    color:rgb(178, 178, 178);
    font-family: "silkscreen";
    font-size:x-large;
    height: 5rem;
    width: 12rem;
    margin-left: 25%;
    margin-top: 20%;
}
#typewriting-lyric4{
    color:rgb(178, 178, 178);
    font-family: "silkscreen";
    font-size:medium;
    height: 200px;
    width: 300px;
    margin-left: 70%;
    margin-top: -15%;
}

#typewriting-lyric5{
    color:rgb(178, 178, 178);
    font-family: "silkscreen";
    font-size:x-large;
    height: 300px;
    width: 100px;
    margin-left: 90%;
    margin-top: -10%;
    text-align:right;
}
#typewriting-lyric6{
    color:rgb(178, 178, 178);
    font-family: "silkscreen";
    font-size:3rem;
    margin-left: 33%;
    margin-right:10%;
    margin-top: 20%;
}

@media screen and (max-width:1080px) and (min-width:960px){
  .container{
    width:calc(50% - 2.6rem);
    height: 26rem;
  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .container{
    width:calc(50% - 2.6rem);
    height:26rem;
  }
} 

@media screen and (max-width:720px) and (min-width:480px){
  .container{
    width:calc(100% - 2.6rem);
    height:26rem;
  }
}