@charset "utf-8";
@font-face{
    font-family: "silkscreen";
    src: url(../fonts/Silkscreen-Regular.ttf);
}
html{
    font-size:7px;
    line-height: 1.3;
}

body{
  background-color:rgb(40, 43, 105);

}

.container{
  width: 100%;
  height:100%
  
}

#glowing-text{
    text-shadow: #FFFF 0px 0px 9px;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb(214, 238, 242);
    font-size: 6rem;
}


.text{
    font-family:"silkscreen";
    color: rgb(255, 255, 255);
    font-size: 6rem;
    margin-left: 5%;

    animation-name:fade-animation1;
    animation-duration:3s;
    animation-iteration-count: 1;
}

.text2{
    font-family:"silkscreen";
    color: rgb(255, 255, 255);
    font-size: 6rem;

    animation-name:fade-animation2;
    animation-duration:6s;
    animation-iteration-count: 1;
}


@keyframes fade-animation1{
   0%{opacity: 0%;}
    25%{opacity: 0%;}
    50%{opacity: 0%;}
    75%{opacity:75%}
    100%{opacity:100%}
}

@keyframes fade-animation2{ 
    0%{opacity: 0%;}
    15%{opacity: 0%}
    25%{opacity: 0%;}
    50%{opacity: 0%;}
    75%{opacity:65%}
    100%{opacity:100%}
}
@keyframes fade-animation3{ 
    0%{opacity: 0%;}
    15%{opacity: 0%}
    25%{opacity: 0%;}
    50%{opacity: 0%;}
    75%{opacity:55%}
    100%{opacity:100%}
}
@keyframes fade-animation4{ 
    0%{opacity: 0%;}
    15%{opacity: 0%}
    25%{opacity: 0%;}
    50%{opacity: 0%;}
    75%{opacity:45%}
    100%{opacity:100%}
}
@keyframes fade-animation5{ 
    0%{opacity: 0%;}
    15%{opacity: 0%}
    25%{opacity: 0%;}
    50%{opacity: 0%;}
    75%{opacity:35%}
    100%{opacity:100%}
}

@keyframes fade-animation7{ 
    0%{opacity: 0%;}
    15%{opacity: 0%}
    25%{opacity: 0%;}
    50%{opacity: 0%;}
    75%{opacity:25%}
    100%{opacity:100%}
}
@keyframes fade-animation8{ 
    0%{opacity: 0%;}
    15%{opacity: 0%}
    25%{opacity: 0%;}
    50%{opacity: 0%;}
    75%{opacity:15%}
    100%{opacity:100%}
}


.text3{
    font-family:"silkscreen";
    color:rgb(255, 255, 255);
    font-size: 6rem;


    animation-name:fade-animation3;
    animation-duration:9s;
    animation-iteration-count: 1;
} 

.text4{
    font-family:"silkscreen";
    color: rgb(255, 255, 255);
    font-size: 6rem;

    animation-name:fade-animation4;
    animation-duration:12s;
    animation-iteration-count: 1;
}


.text5{
    font-family:"silkscreen";
    color: rgb(255, 255, 255);
    font-size: 6rem;

    animation-name:fade-animation5;
    animation-duration:15s;
    animation-iteration-count: 1;
}


.text7{
    font-family:"silkscreen";
    color: rgb(255, 255, 255);
    font-size: 6rem;

    animation-name:fade-animation7;
    animation-duration:18s;
    animation-iteration-count: 1;

}

.text8{
    font-family:"silkscreen";
    color: rgb(255, 255, 255);
    font-size: 6rem;

    animation-name:fade-animation8;
    animation-duration:21s;
    animation-iteration-count: 1;
}

@media screen and (max-width:1080px) and (min-width:960px){
  .container{
    width:calc(50% - 2.6rem)
    height:26rem;
  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .container{
    width:calc(50% - 2.6rem);
    height:26rem;
  }
} 

@media screen and (max-width:720px) and (min-width:480px){
  .container{
    width:calc(100% - 2.6rem);
    height:26rem;
  }
}







/* 
@media screen and (max-width:1080px) and (min-width:960px){
  .lyric-block6{
   
    font-size: 90px;
    margin-left: 1000x

  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .lyric-block6{
   
    font-size: 70px;
    margin-left:800px


  }
} 

@media screen and (max-width:720px) and (min-width:480px){
    .lyric-block6{
   
    font-size-adjust: calc(50% - 1.3rem);
    margin-top:calc(50% - 1.3rem);
    font-size: 50px;
    margin-left:500px


  }}

@media screen and (max-width:1080px) and (min-width:960px){
  .lyric-block1{
   
    font-size-adjust: calc(50% - 1.3rem);

  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .lyric-block1{
   
    font-size-adjust: calc(50% - 1.3rem);


  }
} 

@media screen and (max-width:720px) and (min-width:480px){
    .lyric-block1{
  
    font-size-adjust: calc(50% - 1.3rem);
    margin-top:calc(50% - 1.3rem);


  }}

  @media screen and (max-width:1080px) and (min-width:960px){
  .lyric-block2{
   
    margin-top:calc(50% - 1.3rem);

  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .lyric-block2{
   
        margin-top:calc(50% - 1.3rem);


  }
} 

@media screen and (max-width:720px) and (min-width:408px){
    .lyric-block2{
   
    font-size-adjust: calc(50% - 1.3rem);
    margin-top:calc(50% - 1.3rem);
  }}

  @media screen and (max-width:1080px) and (min-width:960px){
  .lyric-block3{
   
         font-size-adjust: calc(50% - 1.3rem);
         margin-top:calc(50% - 2.3rem);


  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .lyric-block3{
   
         font-size-adjust: calc(50% - 1.3rem);
         margin-top:calc(50% - 2.3rem);


  }
} 

@media screen and (max-width:720px) and (min-width:408px){
    .lyric-block3{
   
         font-size-adjust: calc(50% - 1.3rem);
         margin-top:calc(50% - 2.3rem);


  }}

  @media screen and (max-width:1080px) and (min-width:960px){
  .lyric-block4{
   
         margin-top:calc(50% - 1.3rem);


   
  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .lyric-block4{
   
         margin-top:calc(50% - 1.3rem);


  }
} 

@media screen and (max-width:720px) and (min-width:408px){
    .lyric-block4{
   
    margin-top:calc(50% - 1.3rem);
  }}


@media screen and (max-width:1080px) and (min-width:960px){
  .lyric-block5{
   
         font-size-adjust: calc(50% - 1.3rem);
         margin-top:calc(50% - 1.3rem);


  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .lyric-block5{
    
         font-size-adjust: calc(50% - 1.3rem);
         margin-top:calc(50% - 1.3rem);


  }
} 

@media screen and (max-width:720px) and (min-width:408px){
    .lyric-block5{
   
         font-size-adjust: calc(50% - 1.3rem);
         margin-top:calc(50% - 1.3rem);


  }}
  @media screen and (max-width:1080px) and (min-width:960px){
  .lyric-block7{
   
         font-size-adjust: calc(50% - 1.3rem);
         margin-top:calc(50% - 1.3rem);


  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .lyric-block7{
    
         font-size-adjust: calc(50% - 1.3rem);
         margin-top:calc(50% - 1.3rem);


  }
} 

@media screen and (max-width:720px) and (min-width:408px){
    .lyric-block7{
   
         font-size-adjust: calc(50% - 1.3rem);
         margin-top:calc(50% - 1.3rem);


  }}
  @media screen and (max-width:1080px) and (min-width:960px){
  .lyric-block8{
  
         font-size-adjust: calc(50% - 1.3rem);
         margin-top:calc(50% - 1.3rem);


  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .lyric-block8{
   
         font-size-adjust: calc(50% - 1.3rem);
         margin-top:calc(50% - 1.3rem);


  }
} 

@media screen and (max-width:720px) and (min-width:408px){
    .lyric-block8{
   
         font-size-adjust: calc(50% - 1.3rem);
margin-top:calc(50% - 1.3rem);
  }}
 */