@charset "utf-8";

@font-face{
    font-family: "silkscreen";
    src: url(../fonts/Silkscreen-Regular.ttf);
}
html{
    font-size:7px;
    line-height: 1.3;
}

body{
  background-color:rgb(151, 176, 205);

}

.container{
  width: 100%;
  height:100%;
  
}

.text{
    font-family:"silkscreen";
    color: white;
    font-size: 3rem;
    margin-right:70%;
}

.text2{
    font-family:"silkscreen";
    color: white;
    font-size: 8rem;
    margin-left:30%;
}

.text3{
    font-family:"silkscreen";
    color: rgb(255, 255, 255);
    font-size: 5rem;
    margin-left:80%;
} 


.text4{
    font-family:"silkscreen";
    color: white;
    font-size: 8rem;
    margin-right:60%;
    margin-top:-5%;
    position:flex;
}

.text5{
    font-family:"silkscreen";
    color: white;
    font-size: 3rem;
    margin-left: 20%;
}

.text6{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(171, 99, 99);
font-size: 15rem;  
text-align: center;
} 

span{
    animation: 1s linear infinite;
    animation-name: "blinker";
}

@keyframes blinker{
    50%{
        opacity:0;
    }
}

.text7{
    font-family:"silkscreen";
    color: white;
    font-size: 7rem;
    margin-left:60%;
}
.hover-text{
    font-size: 3rem;
    transition: font-size 0.5s ease;
}
.hover-text:hover{
    font-size: 7rem;
    color: pink;
}

.hover-text2{
    font-size: 8rem;
    transition: font-size 0.5s ease;
}
.hover-text2:hover{
    font-size: 12rem;
    color: pink;
}

.hover-text3{
    font-size: 5rem;
    transition: font-size 0.5s ease;
}
.hover-text3:hover{
    font-size: 9rem;
    color: pink;
}
.hover-text4{
    font-size: 8rem;
    transition: font-size 0.5s ease;
}
.hover-text4:hover{
    font-size: 12rem;
    color: pink;
}
.hover-text5{
    font-size: 3rem;
    transition: font-size 0.5s ease;
}
.hover-text5:hover{
    font-size: 6rem;
    color: pink;
}
.hover-text7{
    font-size: 7rem;
    transition: font-size 0.5s ease;
}
.hover-text7:hover{
    font-size: 11rem;
    color: pink;
}

@media screen and (max-width:1080px) and (min-width:960px){
  .container{
    width:calc(50% - 2.6rem);
    height: 26rem;
  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .container{
    width:calc(50% - 2.6rem);
    height:26rem;
  }
} 

@media screen and (max-width:720px) and (min-width:480px){
  .container{
    width:calc(100% - 2.6rem);
    height:26rem;
  }
}