@charset "utf-8";
@font-face{
    font-family: "silkscreen";
    src: url(../fonts/Silkscreen-Regular.ttf);
}
html{
    font-size:7px;
    line-height: 1.3;
}

body{
  background-color:rgb(12, 37, 9);

}

.container{
  width: 100%;
  height:100%;
  
}

#message{

font-family:Impact, 'Arial Narrow Bold', sans-serif;
color: rgb(187, 210, 150);
text-align: center;
transition: all 1s ease;
}

.left-margin{
    margin-left: 20rem;
}

span{
    animation: 1s linear infinite;
    animation-name: "blinker";
}

@keyframes blinker{
    50%{
        opacity:0;
    }
}

.text{
    font-family:"silkscreen";
    color: rgb(236, 255, 222);
    font-size: 4rem;
    margin-left:30%;
}


.text2{
    font-family:"silkscreen";
    color: rgb(236, 255, 222);
    font-size: 8rem;
    margin-right:65%;
}

.text3{
    font-family:"silkscreen";
    color: rgb(236, 255, 222);
    font-size: 6rem;
    margin-left:10%;
} 

.text4{
    font-family:"silkscreen";
    color: rgb(236, 255, 222);
    font-size: 8rem;
    margin-left:65%;
}
@keyframes shake-animation{
0% { transform: translateX(-3px) }
 25% { transform: translateX(10px) }
 50% { transform: translateX(-3px) }
 75% { transform: translateX(10px) }
 100% { transform: translateX(-3px) }
}
.text4{
    transform-origin: 50% 50%;
    transform:rotate(0deg);
    animation-name:shake-animation;
    animation-duration:1s;
    animation-iteration-count: infinite;
}

.text2{
    transform-origin: 50% 50%;
    transform:rotate(0deg);
    animation-name:shake-animation;
    animation-duration:1s;
    animation-iteration-count: infinite;
}
.text5{
    font-family:"silkscreen";
    color: rgb(236, 255, 222);
    font-size: 3rem;
}
.text6{
font-size: 15rem;  
text-align: center;
font-family:Impact, 'Arial Narrow Bold', sans-serif;
color: rgb(187, 210, 150);
}
.text7{
    font-family:"silkscreen";
    color: rgb(236, 255, 222);
    font-size: 5rem;
    margin-left:20%;
    margin-right:40%;
}

@media screen and (max-width:1080px) and (min-width:960px){
  .container{
    width:calc(50% - 2.6rem);
    height: 26rem;
  }
} 
@media screen and (max-width:960px) and (min-width:720px){
  .container{
    width:calc(50% - 2.6rem);
    height:26rem;
  }
} 

@media screen and (max-width:720px) and (min-width:480px){
  .container{
    width:calc(100% - 2.6rem);
    height:26rem;
  }
}