@font-face{
    font-family: "silkscreen";
    src: url(../fonts/Silkscreen-Regular.ttf);
}
body{
    background-color:rgb(10, 46, 40); 
}
.container{
    width:2550px;
    height:1340px;
    padding-top: 25px;
    background-color:rgb(10, 46, 40); 
}

.lyric-block6{
height: 275px;
width: 1000px; 
text-align: center;
font-size: medium;
position:absolute;
top: -40px;
left: 1400px;
font-family:Impact, 'Arial Narrow Bold', sans-serif;
color: rgb(187, 210, 150);
font-size: 120px;
}
span{
    animation: 1s linear infinite;
    animation-name: "blinker";
}

@keyframes blinker{
    50%{
        opacity:0;
    }
}

.lyric-block1{
    height: 550px;
    width: 700px;
    text-align: center;
    font-size: x-large;
    margin-left: 5%;
    margin-top: 5%;
    z-index:10;
    
}
.text{
    font-family:"silkscreen";
    color: rgb(236, 255, 222);
    font-size: 30px;
}

.lyric-block2{
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: x-large;
    margin-left: 4%;
    margin-top:-15%;
  
}
.text2{
    font-family:"silkscreen";
    color: rgb(236, 255, 222);
    font-size: 60px;
}

.lyric-block3{
    height: 275px;
    width: 1100px;
    text-align: center;
    font-size: medium;
    margin-left: 30%;
    margin-bottom:150px;

}
.text3{
    font-family:"silkscreen";
    color: rgb(236, 255, 222);
    font-size: 25px;
} 

.lyric-block4{
    height: 150px;
    width: 50px;
    text-align: center;
    font-size: x-large;
    margin-left: 85%;
    margin-top:-500px;
}
.text4{
    font-family:"silkscreen";
    color: rgb(236, 255, 222);
    font-size: 60px;
}
@keyframes shake-animation{
0% { transform: translateX(-3px) }
 25% { transform: translateX(10px) }
 50% { transform: translateX(-3px) }
 75% { transform: translateX(10px) }
 100% { transform: translateX(-3px) }
}
.text4{
    transform-origin: 50% 50%;
    transform:rotate(0deg);
    animation-name:shake-animation;
    animation-duration:1s;
    animation-iteration-count: infinite;
}

.text2{
    transform-origin: 50% 50%;
    transform:rotate(0deg);
    animation-name:shake-animation;
    animation-duration:1s;
    animation-iteration-count: infinite;
}
.lyric-block5{
    height: 150px;
    width: 600px;
    text-align: center;
    font-size: x-large;
    margin-left:25%;
    margin-top:6%;
}
.text5{
    font-family:"silkscreen";
    color: rgb(236, 255, 222);
    font-size: 35px;
}
.lyric-block7{
    height: 150px;
    width: 650px;
    text-align: center;
    font-size: x-large;
    margin-left:45%;
    margin-top:10%;
}
.text7{
    font-family:"silkscreen";
    color: rgb(236, 255, 222);
    font-size: 40px;
}